<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749182420934-qn0u56leuaqclf117rqfj1cedhpoh2a9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749182420934-qn0u56leuaqclf117rqfj1cedhpoh2a9</string>
	<key>API_KEY</key>
	<string>AIzaSyDeZNjR_cVlSU34Mr1CM2EhWtY9SZnlETg</string>
	<key>GCM_SENDER_ID</key>
	<string>749182420934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrApp</string>
	<key>PROJECT_ID</key>
	<string>qr-app-40bda</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-app-40bda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749182420934:ios:856b093da3cb56da2bd4c7</string>
</dict>
</plist>